{% extends "base.html" %}

{% block content %}
<div class="block">
<h1 class="title is-1"> {{ section.title }} </h1>
<hr>
</div>
<div class="section">
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-parent is-4">
      <div class="tile is-child">
	<div class="avatar">
	  <img src="tgarefalakis.jpg">
	</div>
      </div>
      <div class="tile is-child">	
	<div class="content">
	  {% set contact = get_page(path="contact.md") %}
	  <h3 class="title is-3"> {{ contact.title }} </h3>
	  <address> {{ contact.content | safe }} </address>
	</div>
      </div>
    </div>
    <div class="tile is-vertical is-ancestor">
      <div class="tile is-child">
	<div class="content">
	  {% set bio = get_page(path="bio.md") %}
	  <h3 class="title is-3"> {{bio.title}} </h3>
	  {{ bio.content | safe }}
	</div>
      </div>
      <div class="tile is-parent">
	<div class="tile is-parent">
	  <div class="content">
	    <h3 class="title is-3"> <i id=icon class="fa fa-graduation-cap"></i> Education </h3>
	    {% for pos in section.extra.education %}
              <div class="box"> {{ pos }} </div>
	    {% endfor %}	      
	  </div>
	</div>
	<div class="tile is-parent">
	  <div class="content">
	    <h3 class="title is-3"> <i id=icon  class="fa fa-address-card"></i> Academic Positions </h3>
	    {% for pos in section.extra.positions  %}
              <div class="box"> {{ pos }} </div>
	    {% endfor %}
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
